.about {
  background-color: #00bbbd;
  margin-top: 80px;
  height: 100vh;
}
.about h1 {
  color: white;
}

.about-div {
  display: flex;
}

.about-text {
  text-align: left;
  padding: 100px 50px;
}
.about-text p {
  margin-top: 20px;
}
